<div class="d-flex align-items-stretch flex-row">
	<ul id="column_index" class="list-group" style="flex: 0 0 40px;">
        {% for column in getColumnFromForm(form)%}
            <li class="list-group-item p-1">{{ column }}</li>
        {% endfor %}
	</ul>
	<ul id="column_selected" class="list-group" style="flex: auto;">
	</ul>
</div>

<script type="text/javascript">
    $(document).ready(function(){

        initSelected();
        

        $('.export-column-all-checkbox').change(function(){
            var input = $(this);
            $('.input-selected-wrapper input').each(function(){
                $(this).prop('checked',input.prop('checked'));
                $(this).trigger('change');
            });
        });

        $('.export-column-group-checkbox').change(function(){
            var block = $(this).closest('.export-column-group-wrapper');
            var input = $(this);
            block.find('.input-selected-wrapper input').each(function(){
                $(this).prop('checked',input.prop('checked'));
                $(this).trigger('change');
            });
        });

        //check / uncheck column
        $('.input-selected-wrapper input').change(function(){
            var input = $(this);
            var block = input.closest('.export-column-checkbox-wrapper');
            var data = getColumnData(block);
            input.prop('checked') ? addColumn(data) : removeColumn(data);

            if(!input.prop('checked') && input.closest('.export-column-group-wrapper').length){
                input.closest('.export-column-group-wrapper').find('.input-group-check:first').prop('checked',false);
            }

            reindexSortable();
        });
        
        //remove column selected with button
        $('#column_selected').on('click','.remove-column',function(e){
            e.preventDefault();
            
            var id = $(this).closest('.column').attr('data-id');
            var input = $('#' + id + ' .input-selected-wrapper input')
            
            input.prop('checked',false);
            input.trigger('change');				
        });
        
        
        //======== set column sortable
        $( "#column_selected" ).sortable({
            placeholder: 'list-group-item p-2 list-group-item-secondary',
            stop: function(event, ui){
                reindexSortable();
            }
        });
    
        $( "#column_selected").disableSelection();

    });

    var elementHTML = "<li class='list-group-item p-1 position-relative column' data-id='__id__' ><span class='label-content'>__label__</span><button class='btn btn-default btn-sm position-absolute remove-column' style='top:0;right:0' type='button'>x</button></li>";

    function addColumn(data)
    {	
        if($('#column_selected [data-id=' + data.id + ']').length === 0){
            $('#column_selected').append(elementHTML.replace('__id__',data.id).replace('__label__',data.label));

        }		
    }

    function removeColumn(data)
    {
        $('.column[data-id="' + data.id + '"]').remove();
    }

    function reindexSortable()
    {
        var i=0;
        $('.input-column-wrapper input').val("");
        
        $('.column').each(function(){
            var letter = $('#column_index').children().eq(i).html();
            var id = $(this).attr('data-id');
            $('#'+id + ' .input-column-wrapper input').val(letter);				
            i++;
        });
    }


    function initSelected()
    {
        var items = [];
        $('.export-column-checkbox-wrapper [type=checkbox]:checked').each(function() {
            var block = $(this).closest('.export-column-checkbox-wrapper');
            items.push(getColumnData(block));
        });	

        items.sort(function(a,b){
            return a.letter > b.letter; 
        });

        items.forEach(function( item ){
            addColumn(item);
        })
    }

    function getColumnData(block)
    {
        return {
            id: block.attr('id'),
            label: block.find('label').html(),
            letter: block.find('.input-column-wrapper input').val() 
        }
    }
    
</script>
